/*

  1. Make a copy
  2. Remove .sample ending from the file name.
  3. Fill in database connection data.

*/

import {Factory, IDefaultConnectionPoolOptions} from "gdmn-db";
import {IDBDetail} from "../Context";

const dbData: IDBDetail<IDefaultConnectionPoolOptions> = {
  alias: "some alias",
  driver: Factory.FBDriver,
  poolInstance: Factory.FBDriver.newDefaultConnectionPool(),
  poolOptions: {
    max: 3
  },
  connectionOptions: {
    host: "host name",
    port: 3053,
    username: "fb user name",
    password: "fb user password",
    path: "full path to db file on server"
  }
};

export interface IDBs {
  [alias: string]: IDBDetail;
}

const databases: IDBs = {
  dbData
};

export default databases;
